<<<<<<< HEAD
=======
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
	--body-clr: #e4e9f7;
    --sidebar-clr: #FFF0F0;
    --primary-clr: #695cfe;
    --primary-clr-light: lightgray;
	--hover-clr:#9dcac3;
    --toggle-clr-light: #d0d0d0;
    --text-clr: #707070;
    --text-clr-light: #000;
	
    --trans-01: all 0.1s ease;
    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
}

>>>>>>> ce9e7a2c3f117c2b51fae1695151455d8d4781d2
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
<<<<<<< HEAD
}

body {
	background-color: #f2f2f2;


}

.slide {
	height: 100vh;
	width: 180px;
	position: sticky;
	background-color: #fff;
	transition: 0.4ms eas;
	font-family: 'Times New Roman', Times, serif;
	/*background: linear-gradient(cyan green);*/
}

.slide h1 {
	color: #8000ff;
	font-weight: 800;
	text-align: right;
	padding: 10px 0;
	padding-right: 30px;
	pointer-events: none;
}
.slide ul li {
	list-style: none;
}
.slide ul li a {
	color: #011a41;
	text-decoration: none;
	font-weight: 500;
	font-size: 22px;
	padding: 5px 0;
	display: block;
	transition: 0.3ms ease;
}

.slide ul li a em {
	width: 40px;
	text-align: center;
	color: teal;
}

input {
	display: none;
	visibility: hidden;
	--webkit-appearance: none;
}

.toggle {
	position: absolute;
	height: 30px;
	width: 30px;
	z-index: 1;
	top: 15px;
	left: 15px;
	cursor: pointer;
	border-radius: 6px;
	color: #FFF;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	/*background-color: red;*/
}
=======
	font-family: 'Roboto', sans-serif;
}
body {
	height: 100vh;
	background-color: var(--body-clr);
}
.sidebar {
	width: 270px;
	height: 100vh;
	padding: 10px 14px;
	background-color: var(--sidebar-clr);
	position: fixed;
	top: 0;
	left: 0;
	margin-top:5px
}
/* reusable styles */
.sidebar .text {
	font-size: 18px;
	color: var(--text-clr);
	font-weight: 500;
	transition: var(--trans-02);
}
.sidebar .image {
	min-width: 60px;
	display: flex;
	align-items: center;
}
/* end reusable styles */

.sidebar .image-text img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}
.sidebar header .image-text {
	display: flex;
	align-items: center;
	gap: 10px;
}

header .image-text .header-text {
	display: flex;
	flex-direction: column;
}
.header-text .name {
	font-weight: 600;
}
.header-text .profession {
	margin-top: -2px;
}

.sidebar header {
	position: relative;
}

.sidebar header .toggle {
	position: absolute;
	top: 50%;
	right: -25px;
	width: 25px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	/* font-size: 20px; */
	background: var(--sidebar-clr);
	transform: translateY(-50%);
}

/* sidebar list items */
.sidebar li {
	list-style: none;
	height: 30px;
	/* background: red; */
	margin: .75em 0;
	/* background: transparent; */
	/* padding: 10px 14px; */
	display: flex;
	border-radius: 6px;
	gap: 10px;
	align-items: center;
}

.sidebar li .icon {
	display: flex;
	border-radius: 6px;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	min-width: 60px;
	/* color: var(--text-clr); */
	color: var(--text-clr);
}
.sidebar li .icon, .sidebar li .text {
	color: var(--text-clr);
	transition: var(--trans-03);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
	color: var(--sidebar-clr);
}
.sidebar li a {
	text-decoration: none;
	border-radius: 6px;
	color: var(--text-clr);
	display: flex;
	align-items: center;
	gap: 10px;
	width: 100%;
	padding: 10px 14px;
	border-radius: 6px;
	transition: var(--trans-04);
}
.sidebar li a:hover {
	background: var(--hover-clr);
}
.sidebar .search-box {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	background: var(--primary-clr-light);
}
.sidebar .search-box input {
	background: var(--primary-clr-light);
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background-color: var(--primary-clr-light);
	color: var(--text-clr);
	font-size: 16px;
	padding-left: 10px;
	border-radius: 6px;
}
.sidebar .menu-bar {
	/* background: blue; */
	/* width: 100%; */
	height: calc(100% - 50px);
	display: flex;
	/* align-items: center; */
	justify-content: space-between;	
	border-radius: 6px;
	transition: var(--trans-03);
	flex-direction: column;
}
.menu-bar .mode {
	background: var(--toggle-clr);
}
.menu-bar .mode .moon-sun {
	height: 60px;
	width: 60px;
	display: flex;
	align-items: center;
}

.menu-bar .mode em {
position: absolute;
}
.menu-bar .mode em.sun {
	opacity: 0;
}
.menu-bar .mode .toggle-switch {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	cursor: pointer;
	/* background: red; */
}
.toggle-switch .switch {
	background: var(--toggle-clr);
	position: relative;
	width: 22px;
	height: 44px;
	border-radius: 25px;
	z-index: 1000;
}
.toggle-switch .switch::before {
	content: '';
	position: absolute;
	top: 20px;
	left: 5px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	cursor: pointer;
	transform: translateY(-50%);
	background-color: var(--primary-clr);
	transition: var(--trans-03);
}

/* dark mode */
body {
	background: var(--body-clr);
	height: 100vh;
}
body.dark {
	--body-clr: #18191a;
	--sidebar-clr: #242526;
	--primary-clr: #3a3b3c;
	--primary-clr-light: #3a3b3c;
	--toggle-clr: #3a3b3c;
	--text-clr: #e4e9f7;
}
body.dark .switch::before {
	left: 25px;
}
/* 25:34 */
>>>>>>> ce9e7a2c3f117c2b51fae1695151455d8d4781d2
